body {
    background-image: url(Kenangan.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    display: block;
    text-align :center;
    position: center;
    padding-top: 130px;
    color:white;
    font-size: 25px;
  }
  
  form {
    text-align: center;
  }
  input {
    font-size: 17px;
  }